In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.linear_model import LinearRegression
import warnings
warnings.filterwarnings("ignore")

In [2]:
dfprice=pd.read_csv('EW-MAX.csv')

In [3]:
dfprice.head()

        Date      Open      High       Low     Close  Adj_Close   Volume
0  2000/3/27  3.812500  4.156250  3.812500  4.125000   4.125000  3675600
1  2000/3/28  4.125000  4.125000  4.000000  4.015625   4.015625  1077600
2  2000/3/29  4.000000  4.031250  3.953125  4.000000   4.000000   437200
3  2000/3/30  4.000000  4.000000  3.843750  3.843750   3.843750  1883600
4  2000/3/31  3.734375  3.734375  3.390625  3.390625   3.390625  7931600

## Multi varient Linear Regression

In [4]:
dfprice.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj_Close', 'Volume'], dtype='object')

In [5]:
dfprice.drop('Date',inplace=True,axis=1)

In [6]:
from sklearn.preprocessing import MinMaxScaler

`MinMaxScaler() scales the dataframe between 0 to 1 maintaining its actual relationship (differences)between the values`

In [7]:
scaler=MinMaxScaler()  
scaledf=scaler.fit_transform(dfprice)
new_df=pd.DataFrame(scaledf,columns=['Open', 'High', 'Low', 'Close', 'Adj_Close', 'Volume'])
new_df.head()

       Open      High       Low     Close  Adj_Close    Volume
0  0.004378  0.006469  0.006934  0.007408   0.007408  0.075401
1  0.007031  0.006205  0.008535  0.006482   0.006482  0.019194
2  0.005970  0.005413  0.008135  0.006350   0.006350  0.005339
3  0.005970  0.005149  0.007201  0.005027   0.005027  0.036632
4  0.003714  0.002904  0.003334  0.001191   0.001191  0.167478

## train,test,split dataframe

In [8]:
xx=new_df[['Open', 'Close', 'Low', 'Volume', 'Adj_Close']]
yy=new_df[['High']]

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test=train_test_split(xx,yy,
                                               random_state=100,test_size=0.20)
#random_state is used to remove biasedness from data set
#test_size is used to represent size percentage of total dataframe for testing (0:0% to 1:100%)

In [11]:
regmodel2=LinearRegression()
regmodel2.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [12]:
y_pred=regmodel2.predict(x_test)

## Validation

In [13]:
from sklearn import metrics
print("MSE",metrics.mean_squared_error(y_test,y_pred))
print("MAE",metrics.mean_absolute_error(y_test,y_pred))
print("RMSE",np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

MSE 4.275185897174781e-06
MAE 0.0011599579676256416
RMSE 0.002067652266986589

In [14]:
x=list(x_train.columns)
x

['Open', 'Close', 'Low', 'Volume', 'Adj_Close']

In [15]:
mystock=[{'Open':0.077406,
         'Close':0.079238,
         'Low':0.078419,
         'Volume':0.078354,
          'Adj_Close':0.077617}]
mystock=pd.DataFrame(mystock,columns=x)
mystock

       Open     Close       Low    Volume  Adj_Close
0  0.077406  0.079238  0.078419  0.078354   0.077617

In [16]:
q=regmodel2.predict(mystock) # predicting High value of stock
print(q)

[[0.07886469]]